$classic-base-color: #261f3f;
$ui-base-color: $classic-base-color;
$ui-base-lighter-color: #a87ea8;
$ui-primary-color: #9bcbed;
$ui-secondary-color: #ba8d98;
$ui-highlight-color: #CC7AFF;


@import 'application';
