/* Increase contrast */
/* meemu-purple-221234c0.chunk.css | https://queer.party/packs/css/meemu-purple-221234c0.chunk.css */
.column > .scrollable {
  /* background: #322a4f; */
  background: #261f3f;
}

.status__relative-time {
  /* color: #885b8c; */
  color: #a87ea8;
}

.status__display-name {
  /* color: #885b8c; */
  color: #a87ea8;
}

.status {
  /* border-bottom: 1px solid #43386a; */
  border-bottom: 1px solid #524486;
}

.muted .status__content,
.muted .status__content a,
.muted .status__content p,
.muted .status__display-name strong {
  color: #a87ea8;
}

.muted .poll {
  /* color: #885b8c; */
  color: #a87ea8;
}
.reply-indicator__content a, .status__content a {
color: #d8a2ba;
}
.detailed-status {
background: #332a54;
}
.detailed-status__action-bar {
background: #332a54;
}


/* meemu-purple-652b2e02.chunk.css | https://queer.party/packs/css/meemu-purple-652b2e02.chunk.css */

.reply-indicator {
  /* background: var\(--fbc-grey-20; */
  background: var(--fbc-light-gray);
}

.link-button {
  color: #00446c;
  text-decoration: underline;
}


@media screen and (min-width: 631px) {
  .column,
  .drawer {
    /* background: #2a2440; */
    background: #1c172d;
  }
}
